body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: "Helvetica Neue Black";
}

#pongCanvas {
  border: 2px solid white;
}
